.App {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f6fafd;
}

.text-logo-blue {
    color: #0188f3;
}

.active {
    color: #0188f3 !important;
}

.btn {
    background: #0188f3 !important;
    color: #fcfcfc !important;
    letter-spacing: 0px;
    width: 108px;
    height: 40px;
    border-radius: 0;
    margin-right: 1rem;
    border: none;
}

.large-btn {
    width: 22rem;
    color: #ffffff;
    background: transparent linear-gradient(180deg, #0188f3 0%, #0073cf 100%) 0% 0% no-repeat padding-box !important;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
}

.card {
    border: none;
    outline: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #0000001a;
}

.inp-controls span {
    color: #414756;
}

.num-inp {
    border: 1px solid #7fc3f9;
    width: 2.8rem;
}

.select {
    border: 1px solid #7fc3f9;
    width: 4.1rem;
}

.md>li {
    padding-right: 1rem;
}

@media screen and (max-width: 600px) {
    .md {
        position: fixed;
        z-index: 100;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: center;
        background-color: white;
        box-shadow: 0px -6px 15px #00000029;
    }
    .md>li {
        display: flex !important;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem !important;
        font-size: 11px;
    }
    .md li:first-child {
        padding-left: 5px !important;
    }
    .logo {
        display: none;
    }
    .btn-hidden-sm {
        display: none !important;
    }
    .navbar {
        box-shadow: none !important;
        background-color: #f6fafd !important;
    }
    .card-header-inp {
        font-size: 10px;
        margin-left: 0 !important;
    }
    .select {
        width: 30px;
    }
    .inp-controls {
        font-size: 10px;
    }
    .char-count {
        font-size: 8px;
    }
    .col-md-7 {
        border-right: none !important;
    }
    textarea {
        padding: 0 !important;
        width: 100%;
    }
    .profile-icon,
    .notify-icon {
        font-size: 30px;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .sm {
        display: none;
    }
}